.wrapper {
    width: 50%;
    height: 100%;

    padding: 10px;

    h2 {
        margin: 0 0 25px 20px;

        color: #fff;
    }

    >div {
        width: 80%;

        padding: 20px;

        background-color: #eee;
        border-radius: 10px;
    }
}

.list {
    min-height: 568px;
    max-height: calc(100vh - 140px - 217px);
    
    padding: 10px;

    border-radius: 10px;
    overflow-y: auto;
    outline: solid 2px #00000030;
}

.cell {
    display: flex;

    align-items: center;

    div {
        margin-left: 10px;

        display: flex;

        flex-wrap: nowrap;
    }
}

.addNewSnippet {
    margin-top: 10px;
}

textarea {
    width: 70%;
    min-height: 40px;
    max-height: 150px;

    margin-bottom: 10px;
    padding: 5px 10px;

    border-radius: 10px;
    outline: solid 2px #3a5199;
}

textarea:disabled {
    background-color: #fff;
    color: #000;
    resize: none;
    outline: none;
}

.button {
    height: 40px;
    width: fit-content;
    min-width: 70px;

    margin: 10px;
    padding: 0 10px;

    border-radius: 10px;
}

.button:hover {
    box-shadow: 0 0 10px 5px #00000050 inset;
}

.button:active {
    box-shadow: 0 0 0 5px #00000050 inset;
}

.redButton {
    background-color: #f00;
    color: #fff;
}

.greenButton {
    background-color: #00910f;
    color: #fff;
}