.wrapper {
    grid-area: input;

    display: flex;

    background-color: #eee;
    border-radius: 15px;
}

.inputField {
    height: 100%;
    width: 90%;

    padding: 5px;

    display: flex;

    border-radius: 10px 0 0 10px;
}

.textarea {
    height: 100%;
    width: calc(100% - 40px);
    padding: 5px;

    border: none;
    outline: none;
    background-color: #eee;
    resize: none;
    font-size: 15px;
    border-radius: 10px;
}

.textarea::-webkit-scrollbar {
    width: 5px;
    cursor: pointer;
}

.textarea::-webkit-scrollbar-track {
    background-color: transparent;
    cursor: pointer;
}

.textarea::-webkit-scrollbar-thumb {
    background-color: #0006;
    border-radius: 20px;
    cursor: pointer;
}

.buttons {
    width: 10%;
    min-width: 100px;
}

.button {
    height: 50%;
    width: 100%;

    border: none;
    color: #eee;
}

.clear {
    background-color: #424242;
    border-radius: 0 10px 0 0;
}

.clear:hover:not(:disabled) {
    background-color: #404040;
}

.clear:active:not(:disabled) {
    background-color: #383838;
}

.submit {
    background-color: #00910f;
    border-radius: 0 0 10px 0;
}

.submit:hover:not(:disabled) {
    background-color: #008d0f;
}

.submit:active:not(:disabled) {
    background-color: #00890f;
}

.submit:disabled,
.clear:disabled,
.textarea:disabled {
    cursor: not-allowed;
}
