.wrapper {
    width: 100vw;
    height: 100vh;

    box-sizing: border-box;
    
    display: -ms-grid;
    display: grid;
    
    grid-template-areas: 
    "menu user"
    "menu body";
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1fr 9fr;
}

.link {
    text-decoration: none;
    outline: none;
    color: #fff;
}

.userInfo {
    grid-area: user;
}

.chatMenu {
    grid-area: menu;

    display: grid;


    background-color: #00317a;
    box-shadow: 5px 5px 8px 0px rgba(34, 60, 80, 0.2);
}

.chatBody {
    grid-area: body;

    padding: 30px;

    background-color: #fff;
    box-shadow: 5px 5px 8px 0px rgba(34, 60, 80, 0.2) inset;
}