@media screen and (hover: hover) {
    .footerLink:hover {
        text-decoration: none;
    }
}

.submit {
    width: 60%;
    height: 40px;

    margin: 0 auto;

    border-radius: 10px;
}

.footer {
    margin-top: 20px;
}

.footerLink {
    color: #fff !important;
}

.footerLink:active {
    outline: solid 1px #fff;
}
