.wrapper {
    min-width: 500px;
    max-width: 800px;
    width: 35vw;

    margin: 60px auto 0 auto;
    padding: 40px;

    display: -ms-grid;
    display: grid;

    grid-gap: 20px;

    border-radius: 10px;
    background-color: #00317a;
    color: #fff;
    box-shadow: 0px -5px 30px 4px rgba(34, 60, 80, 0.5);
    text-align: center;
}

.link {
    color: #fff;
    font-size: 1.1rem;
}

.link:hover {
    color: #fff;
    text-decoration: none;
}
