.wrapper {
    padding: 10px;

    display: grid;

    grid-template-areas:
        'panel'
        'list';
    grid-template-rows: 50px 1fr;
}

.panel {
    grid-area: panel;

    padding-bottom: 10px;

    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid #fff;
}

.queue,
.queueButton {
    padding: 10px;

    background-color: #fff;
    border-radius: 10px;
    box-shadow: -5px -5px 5px 0px rgba(34, 60, 80, 0.3) inset;
}

.queueButton:hover {
    box-shadow: -5px -5px 0px 0px rgba(34, 60, 80, 0.3) inset;
}

.queueButton:active {
    box-shadow: -2px -2px 0px 5px rgba(34, 60, 80, 0.3) inset;
}

.list {
    grid-area: list;

    max-height: calc(100vh - 80px - 60px - 20px - 10px);

    padding-top: 10px;

    overflow-y: auto;
    border-radius: 10px;
}

.list::-webkit-scrollbar {
    height: 50%;
    width: 5px;
}

.list::-webkit-scrollbar-track {
    background-color: transparent;
}

.list::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 20px;
}

.empty {
    width: 100%;

    margin: 0;
    padding: 10px;

    background-color: #fff;
    border-radius: 10px;
    font-weight: 700;
    font-size: 1.3rem;
    text-align: center;
}

.loadMoreField {
    width: 100%;

    display: flex;

    justify-content: center;
}

.loadMore {
    width: 350px;
    height: 40px;

    border-radius: 10px;
    border: none;
    font-weight: 700;
    background-color: #fff;
    font-size: 1.1rem;
}

.loadMore:hover {
    box-shadow: 0px 0px 10px 5px rgba(34, 60, 80, 0.3) inset;
}

.loadMore:active {
    box-shadow: 0px 0px 0px 5px rgba(34, 60, 80, 0.3) inset;
}
