.wrapper {
    height: 100%;

    padding: 10px;

    display: grid;

    grid-template-areas:
        'back user rating snippets'
        'chat chat chat snippets'
        'input input input snippets';
    grid-template-columns: 50px 5fr 3fr 3fr;
    grid-template-rows: 50px 1fr 150px;
    grid-gap: 10px;
    color: #2f2e33;
    overflow: hidden;
}

.back {
    grid-area: back;

    background-color: #eee;
    border-radius: 10px;
    border: none;
}

.back:hover {
    box-shadow: 0px 0px 5px 5px rgba(58, 81, 153, 0.3) inset;
}

.back:active {
    box-shadow: 0px 0px 0px 5px rgba(58, 81, 153, 0.5) inset;
}

[data-title]:hover:after {
    opacity: 1;
    transition: all 0.5s ease 1s;
    visibility: visible;
}

[data-title]:after {
    content: attr(data-title);

    position: absolute;

    left: 100%;
    bottom: -1.6em;
    z-index: 99999;

    padding: 1px 4px;

    opacity: 0;
    visibility: hidden;
    box-shadow: 1px 1px 3px #2f2e33;
    border: solid 1px #2f2e3370;
    background-color: #f2f2f2;
    color: #2f2e33;
    white-space: nowrap;
    border-radius: 3px;
}

[data-title] {
    position: relative;
}

.icon {
    width: 60%;
    height: 60%;

    color: #3a5199;
}

.userInfo {
    grid-area: user;

    min-width: 180px;

    padding: 10px;

    background-color: #eee;
    border-radius: 10px;
}

.rating {
    grid-area: rating;

    min-width: 330px;

    padding: 0 10px;

    background-color: #eee;
    border-radius: 10px;
}

.rating p {
    margin: 10px 0;

    text-align: center;
}

.greyStar {
    height: 30px;
    width: 30px;

    color: #0002;
}

.goldStar {
    height: 30px;
    width: 30px;

    color: #ffd700;
    border-radius: 50%;
}

.chat {
    grid-area: chat;

    height: 100%;

    padding: 20px;

    background-color: #eee;
    border-radius: 10px;
    overflow-y: auto;
}

.chat::-webkit-scrollbar {
    width: 5px;
}

.chat::-webkit-scrollbar-track {
    background-color: transparent;
}

.chat::-webkit-scrollbar-thumb {
    background-color: #0006;
    border-radius: 20px;
}
