.wrapper {
    width: 100%;
    height: 125px;

    margin: 0;
    padding-right: 10px;

    display: grid;

    grid-template-columns: 1fr 200px;

    border-radius: 10px;
}

.wrapper:not(:last-child) {
    margin-bottom: 10px;
}

.dialogInfo {
    flex-grow: 1;

    background-color: #fff;
    border-radius: 10px;
    color: #212529;
    text-decoration: none;
}

.dialogInfo:hover {
    box-shadow: 0px 0px 10px 5px rgba(34, 60, 80, 0.3) inset;
    color: #212529;
}

.dialogInfo:active {
    box-shadow: 0px 0px 0px 5px rgba(34, 60, 80, 0.3) inset;
}

.head {
    margin: 5px;
    padding: 5px 5px 0 5px;

    display: flex;

    justify-content: space-between;

    border-bottom: solid 3px #3a5199;
}

.text {
    margin: 0;
}

.message {
    margin: 0;
    padding: 0 10px 10px 10px;
}

.buttons {
    width: 190px;

    margin-left: 10px;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2px;
    border-radius: 10px;
}

.rating {
    padding: 5px 10px;

    border-radius: 10px 10px 0 0;
    background-color: #fff;
    color: #212529;
}

.rating p {
    margin: 0;

    text-align: center;
    font-size: 16px;
}

.greyStar {
    height: 30px;
    width: 30px;

    margin: 10px 4px 0 0;

    color: #0002;
}

.goldStar {
    height: 30px;
    width: 30px;

    margin: 10px 4px 0 0;

    color: #ffd700;
    border-radius: 50%;
}
