.back {
    background-color: #eee;
    border-radius: 10px;
    border: none;
}

.back:hover {
    box-shadow: 0px 0px 5px 5px rgba(58, 81, 153, 0.3) inset;
}

.back:active {
    box-shadow: 0px 0px 0px 5px rgba(58, 81, 153, 0.5) inset;
}

[data-title]:hover:after {
    opacity: 1;
    transition: all 0.5s ease 1s;
    visibility: visible;
}

[data-title]:after {
    content: attr(data-title);

    position: absolute;

    left: 100%;
    bottom: -1.6em;
    z-index: 99999;

    padding: 1px 4px;

    opacity: 0;
    visibility: hidden;
    box-shadow: 1px 1px 3px #2f2e33;
    border: solid 1px #2f2e3370;
    background-color: #f2f2f2;
    color: #2f2e33;
    white-space: nowrap;
    border-radius: 3px;
}

[data-title] {
    position: relative;
}

.icon {
    width: 60%;
    height: 60%;

    color: #3a5199;
}