.wrapper {
    width: 50%;
    height: 100%;

    h2 {
        margin: 10px 0 25px 5%;

        color: #fff;
    }
}

.form {
    width: 80%;

    margin: 0 0 10px 25px;
    padding: 10px;

    background-color: #eee;
    border-radius: 10px;

    h3 {
        margin: 0 0 20px 20px;
    }

    input {
        width: 80%;
        min-width: 350px;
        height: 36px;

        margin-bottom: 5px;
        margin-left: 15px;
        padding: 3px 8px;

        border-radius: 10px;
        outline: solid 2px #3a5199;
    }

    p {
        margin-left: 25px;
        min-height: 25px;
        max-height: 50px;

        color: red;
        font-size: 1rem;
        margin-bottom: 15px;
    }
}