.wrapper {
    width: 50%;
    height: 100%;

    padding: 10px;

    h2 {
        margin: 0 0 25px 35px;

        color: #fff;
    }
}

.form {
    width: 80%;

    margin: 0 0 10px 15px;
    padding: 10px;

    background-color: #eee;
    border-radius: 10px;

    h3 {
        margin: 0 0 20px 20px;
    }

    input {
        width: 80%;
        min-width: 350px;
        height: 36px;

        margin-bottom: 5px;
        margin-left: 15px;
        padding: 3px 8px;

        border-radius: 10px;
        outline: solid 2px #3a5199;
    }

    p {
        margin-left: 25px;
        min-height: 25px;
        max-height: 50px;

        color: red;
        font-size: 1rem;
        margin-bottom: 15px;
    }
}

.reAuthForm {
    position: absolute;
    
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    display: flex;
    
    justify-content: center;
    align-items: center;

    background-color: #000000b0;

    form {
        width: 40%;

        margin: 0 auto;
        padding: 30px;

        background-color: #3a5199;
        text-align: center;
        border-radius: 10px;

        h3 {
            margin-bottom: 30px;

            color: #fff;
        }

        input {
            width: 80%;
            min-width: 350px;
            height: 36px;
    
            margin-bottom: 5px;
            margin-left: 15px;
            padding: 3px 8px;
    
            border-radius: 10px;
        }
    }
}

.buttons {
    button {
        width: 20%;
        height: 30px;

        margin: 10px;

        border-radius: 10px;
        color: #fff;
    }

    button:hover {
        text-decoration: underline;
    }

    button:active {
        box-shadow: 0 0 3px 3px #00000080 inset;
    }

    button:first-child {
        background-color: red;
    }

    button:last-child {
        background-color: green;
    }
}