.circle {
    height: 40px;
    width: 40px;

    background-color: #ccc;
    color: #000;
    font-size: 20px;
    border-radius: 50%;
}

.circle:hover:not(:disabled) {
    box-shadow: 0 0 20px 0 #bbb inset;
}

.circle:active:not(:disabled) {
    box-shadow: 0 0 0 5px #bbb inset;
}

.circle:disabled {
    cursor: not-allowed;
}

.button {
    width: fit-content;
    height: 40px;

    padding: 10px;

    background-color: #fff;
    color: #3a5199;
    font-size: 15px;
    border-radius: 10px;
}

.button:hover:not(:disabled) {
    box-shadow: 0px 0px 5px 5px rgba(58, 81, 153, 0.3) inset;
}

.button:active:not(:disabled) {
    box-shadow: 0px 0px 0px 5px rgba(58, 81, 153, 0.5) inset;
}

.button:disabled {
    cursor: not-allowed;
}
