* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --grey: #f2f2f2;
    --dark-grey: #ededed;
    --blue: #00317a;
    --green: #009100;
}

p {
    margin: 0;
}

textarea, button, input {
    border: none;
    outline: none;
}